/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	box-sizing: border-box;
}
nav{
	width: 100%;
	top: 0;
	padding-bottom: 20px;
	text-align: center;
	
}

nav a{
	text-decoration: none;
	color: lightgrey;
	font-size: 20px;
	margin-right: 5%;
}

nav a:hover {
	color: grey;
}

nav img{
	margin-left: 5%;
}
.head{
	margin-left: 15%;
	margin-top: 200px;
	width: 25%;
	height: 200px;
	
}

h1{
	line-height: 100%;
	font-size: 50px;
	text-align: center;
	margin-right: 2%;
	letter-spacing: 3px;
	
}
.button{
	margin-left: 35%;
	width: 25%;
	text-align: center;
	border: 1px solid;
	padding: 6px;
}

.image{
	margin-left: 50%;
	margin-top: -15%;
	height: 50%;
	width: 25%;
	
}

.section-one{
	margin-top: 2%;
	margin-left: 20%;
	margin-bottom: 2%;
	width: 20%;
	display: inline-block;
}
.section-two{
	margin-left: 5%;
	display: inline-block;
	width: 20%;
}

.section-image{
	margin-left: 20%;
	margin-bottom: 2%;
}

.section-three{
	display: inline-block;
	width: 15%;
	margin-left: 20%;
	margin-bottom: 2%;
}

.section-four{
	display: inline-block;
	width: 15%;
	margin-left: 3%;
}

.section-five{
	display: inline-block;
	width: 15%;
	margin-left: 3%;
}

.contact{
	margin-left: 20%;
	margin-bottom: 5%;
	line-height: 30px;
}

footer{
	text-align: center;
	margin-bottom: 10%;
}